<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="authot" content="Francisco López">
        <meta name="description" content="Construction or remodeling of all types of infrastructure such as houses, buildings, with any type of material.">
        <meta name="keywords" content="Remodeling, Interiors, Flooring, Painting, Drywall, Plastering, Azek, Clapboard, Demolition, handjpaintingplusllc.com">
        
        <meta http-equiv="cache-control" content="no-cache">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>1stcleaningservicellc.com</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="style.css" >
        
        
        <style>
          .full-img{
            position: fixed; 
            top: 0; left: 0;
            width: 100%; height: 100%;
            z-index: 15;
          }

          .img-service-container{
            display: flex; 
            justify-content:center;
            height:268px;
          }

          .close-full-img{
            display: none;
            position: fixed;
            right: 0; top: 0;
            z-index: 20;
          }
          
          .img-service{
            height: 100%; width: 100%; 
            object-fit: scale-down;
          }
        </style>
    </head>
    <body >
        <!-- header -->
        
          <div class="center-x" style="background-color: #01be62">
              <img class="" src="C:\Users\dubli\OneDrive\repos\1stcleaningservicellc\img\logo.png" alt="not found">
          </div>
        
        

        <!-- nav bar -->
        <div class="nav-bar bg-middle-gray sticky-top shadow-lg custom-opacity" style="flex-wrap: wrap; z-index: 3;">
            <div>
                <h5><a href="#" style="text-decoration: none; color:white">1stcleaningservicellc.com</a></h5>
            </div>
            <div id="menu1">
              <div>
                  <a href="#services" class="btn btn-green">Services</a>
                  <a href="#about_us" class="btn btn-green">About Us</a>
                  <a href="#contact_us" class="btn btn-green">Contact Us</a>
                  <a href="#Rating_And_Reviews" class="btn btn-green">Reviews</a>
              </div>
            </div>

            <div class="nav-item dropdown" id="menu2" style="display: none;">
                <a class="btn btn-green" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 5px;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="dropdown-item" href="#services">Services</a></li>
                  <li><a class="dropdown-item" href="#about_us">About Us</a></li>
                  <li><a class="dropdown-item" href="#contact_us">Contact Us</a></li>
                  
                </ul>
            </div>
        </div>

        
        <!-- Get Quote-->
        <div class="pu-container center-x center-y" id="form-get-quote" style="display: none;">
          <aside class="col-md-6">
              <div class="card"> 
                  <div class="d-flex flex-row-reverse m-2">
                      <button type="button" class="btn btn-green" id="close-form" style="border-radius:5px" style="padding:none;">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                          </svg>
                      </button>
                  </div>
                  <div class="card-body" style="padding-top:0px; padding-botton:0px;">
                      
                      [wpforms id="39"]
                      
                  </div> <!-- card-body end.// -->
              </div> <!-- card end.// -->
          </aside>
        </div>


        <!-- Services -->
        <div class="container" id="services" style="margin-top: 30px;">
          <h2> 
            <div class="center-y">
            <span> Services </span>
            <span style="margin-left: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </span>
            </div>
          </h2>
          
          <div class="row">
            <script>
              for (var i = 1; i < 14; i++) {
                  document.write(`
                  <div class="col-md-4">
                    <figure class="card border border-secondary shadow">
                      <div id="carousel_product_${i}" class="carousel slide" data-bs-ride="carousel">
                          
                        <div class="m-2 close-full-img" style="display:none;">
                          <button type="button" class="btn-close btn-green"></button>
                        </div>
                        
                        <div class="carousel-inner bg-middle-gray">                     
                          <div class="carousel-item active">
                            <div class="img-service-container">
                              <img src="https://1stcleaningservicellc.com/wp-content/uploads/2024/04/img${i}.jpeg" class="d-block img-service">
                            </div>
                          </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_product_${i}" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel_product_${i}" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                  
                      <div class="card-body">
                        <h5 class=""></h5>
                        <p class="card-text"></p>
                        
                        <div style="display: flex; justify-content: space-between;">
                            <button class="btn btn-green btn-get-quote" data-id="${i}" data-title="kitchen upgrade backsplash and Vinyl flooring">Get Quote</button>
                            <button type="button" class="btn btn-green" style="border-radius: 5px;" onclick="expand_img('carousel_product_${i}')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"></path>
                                </svg>
                            </button>
                        </div>
                        
                      </div>
                    </figure>
                  </div>`);
              }
            </script>

            
            
            <!--
            <div class="col-md-4">
              <figure class="card border border-secondary shadow">
                <div id="carousel_product_1" class="carousel slide" data-bs-ride="carousel">
                    
                  <div class="m-2 close-full-img" style="display:none;">
                    <button type="button" class="btn-close btn-green"></button>
                  </div>
                  
                  <div class="carousel-inner bg-middle-gray">
                    <div class="carousel-item">
                      <div class="img-service-container">
                        <img src="http://handjpaintingplusllc.com/wp-content/uploads/2022/12/305524023_161732953184060_5968913751825662016_n.jpg" class="d-block img-service">
                      </div>
                    </div>
                      
                    <div class="carousel-item">
                      <div class="img-service-container">
                        <img src="http://handjpaintingplusllc.com/wp-content/uploads/2022/12/305406859_161733263184029_481073816207586328_n.jpg" class="d-block img-service">
                      </div>
                    </div>    
                      
                    <div class="carousel-item active">
                      <div class="img-service-container">
                        <img src="http://handjpaintingplusllc.com/wp-content/uploads/2022/12/305524932_161733276517361_6813253663167856653_n.jpg" class="d-block img-service">
                      </div>
                    </div>
                    
                    <div class="carousel-item">
                      <div class="img-service-container">
                        <img src="http://handjpaintingplusllc.com/wp-content/uploads/2022/12/305642450_161733193184036_290102260989113899_n.jpg" class="d-block img-service">
                      </div>
                    </div>
                
                    <div class="carousel-item">
                      <div class="img-service-container">
                        <img src="http://handjpaintingplusllc.com/wp-content/uploads/2022/12/305446891_161733176517371_649631390554013659_n.jpg" class="d-block img-service">
                      </div>
                    </div>
                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel_product_1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel_product_1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
            
                <div class="card-body">
                  <h5 class="">kitchen upgrade backsplash and Vinyl flooring</h5>
                  <p class="card-text"></p>
                  
                  <div style="display: flex; justify-content: space-between;">
                      <button class="btn btn-green btn-get-quote" data-id="1" data-title="kitchen upgrade backsplash and Vinyl flooring">Get Quote</button>
                      <button type="button" class="btn btn-green" style="border-radius: 5px;" onclick="expand_img('carousel_product_1')">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"></path>
                          </svg>
                      </button>
                  </div>
                  
                </div>
              </figure>
            </div>-->
          </div>
        </div>
        
        

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

        <script>
          let menu1 = document.getElementById('menu1');
          let menu2 = document.getElementById('menu2');
          var width = window.innerWidth;
          if(width<=750){
            menu1.style.display = 'none';
            menu2.style.display = 'flex';
          }else{
            menu1.style.display = 'flex';
            menu2.style.display = 'none';
          }

          window.addEventListener('resize',(e)=>{
            width = window.innerWidth;
            console.log(width);
            if(width<=750){
              menu1.style.display = 'none';
              menu2.style.display = 'flex';
            }else{
              menu1.style.display = 'flex';
              menu2.style.display = 'none';
            }
          })
        
          let btn = document.getElementsByClassName('btn-get-quote')
          let container = document.getElementById('form-get-quote');
          for(i=0; i<btn.length; i++){
              btn[i].addEventListener('click', function(){        
                  let display = container.style.display;
                  if(display != 'flex'){
                      container.style.display = 'flex';
                      let id=this.dataset.id;
                      let title=this.dataset.title;
                      let input_title = document.getElementById('wpforms-39-field_8');
                      input_title.value = title;
                  }else{
                      container.style.display = 'none';
                  }
              })
          }
          
          let btn_close_form = document.getElementById("close-form");
          let form = document.getElementById("wpforms-form-39");
          btn_close_form.addEventListener('click', function(){
            if(form.isConnected==false){
              location.reload();
            }else{
                container.style.display = 'none';
            }
          })
          
          
          function expand_img(id){
                let carousel_product = document.getElementById(id);
                carousel_product.classList.add('full-img');
                let height = carousel_product.clientHeight;
                
                let imgs = carousel_product.getElementsByClassName('img-service-container');
                for(let i=0; i<imgs.length;i++){
                    img_height = 'height:'+height+'px;';
                    imgs[i].setAttribute('style', img_height);
                }
            
                window.addEventListener('resize',(e)=>{
                    height = carousel_product.clientHeight;
                    for(let i=0; i<imgs.length;i++){
                        img_height = 'height:'+height+'px;';
                        imgs[i].setAttribute('style', img_height);
                    }
                })
            
                let close_full_img = carousel_product.getElementsByClassName('close-full-img');
                close_full_img[0].setAttribute('style', 'display:flex;');
                close_full_img[0].addEventListener('click',()=>{
                    for(let i=0; i<imgs.length;i++){
                        img_height = 'height: 268px;';
                        imgs[i].setAttribute('style', img_height);
                    }
                    carousel_product.classList.remove('full-img');
                    close_full_img[0].setAttribute('style', 'display:none;');
                })
          }
        </script>
        
    </body>
</html>